<!DOCTYPE html>
<html>
<head>
  {% if title %}
    <title>{{ title }} - Microblog</title>
  {% else %}
    <title>Welcome to Microblog!</title>
  {% endif %}
</head>
<body>
  <div>
    Microblog:
    <a href="{% url 'blog:index' %}">Home</a>
    <a href="{% url 'blog:explore' %}">Explore</a>
    {% if user.is_authenticated %}
      <a href="{% url 'blog:user' username=user.username %}">Profile</a>
      <form action="{% url 'accounts:logout' %}" method="post" novalidate>
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'accounts:register' %}">Register</a>
      <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
  </div>
  <hr>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block content %}{% endblock %}
</body>
</html>
