{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>{% trans "Sign In" %}</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content=_("Sign In") %}
  </form>
  <p>
    {% trans "New User?" %}
    <a href="{% url 'accounts:register' %}">{% trans "Click to Register!" %}</a>
  </p>
  <p>
    {% trans "Forgot Your Password?" %}
    <a href="{% url 'accounts:password_reset' %}">{% trans "Click to Reset It" %}</a>
  </p>
{% endblock %}
