<!DOCTYPE html>
<html>
<body>
  <p>Dear {{ user.username }},</p>
  <p>
    To reset your password,
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
      click here
    </a>.
  </p>
  <p>Alternatively, you can paste the following link in your browser's address bar:</p>
  <p>{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</p>
  <p>If you have not requested a password reset simply ignore this message.</p>
  <p>Sincerely,</p>
  <p>The Microblog Team</p>
</body>
</html>
