{% load i18n %}

<!DOCTYPE html>
<html>
<body>
  <p>{% blocktrans with username=user.username %}Dear {{ username }},{% endblocktrans %}</p>
  <p>
    {% trans "To reset your password," %}
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
      {% trans "click here" %}
    </a>.
  </p>
  <p>{% trans "Alternatively, you can paste the following link in your browser's address bar:" %}</p>
  <p>{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</p>
  <p>{% trans "If you have not requested a password reset simply ignore this message." %}</p>
  <p>{% trans "Sincerely," %}</p>
  <p>{% trans "The Microblog Team" %}</p>
</body>
</html>
